<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table class="tickets" align="center">
  <tbody>
    <% customers.forEach(function(c, idx) { %>
     <tr>
      <td><%= c.nameFirst %></td>
       <td><%= c.nameLast %></td>
       <td><%= c.phone %></td>
       <td><%= c.email %></td>
        <td><%= c.zipCode %></td>
        <td><%= c.Address %></td>
         <td><%= c.notes %></td>
         <td><form action="tickets/c._<%= idx %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit"><Datag>Resolve Ticket</Datag></button>
          </form></td>
    </tr>
 <% }); %>
</tbody>
</table>
]
</body>
</html>